:root {
    --cor-principal: rgb(141, 187, 230);
    --cor-secundaria: rgb(222, 228, 235);
}

body{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    }

nav {
    max-width: 100px;
    width: 100%;
    background-color: aquamarine;
    }

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li{
    border-bottom: 1px solid var(--cor-secundaria);
}

nav ul li a {
    background-color: var(--cor-principal);
    color: #FFF;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: background .3s;
    text-transform: uppercase;
}

nav ul li a:hover {
    background-color: var(--cor-secundaria);
    color: var(--cor-principal);
}
    .menu li:hover ul, .menu li.over ul{display:block;}

 .menu li ul li{
        border:1px solid #c0c0c0;
        display:block;
        width:170px;
        }

        .divBusca{
            background-color:#ffffff;
            border:solid 1px;
            border-radius:15px;
            width:200px;
            flex-wrap: wrap;
            
            
          }
          
          .txtBusca{

            background-color:transparent;
            padding-left:5px;
            font-style:italic;
            font-size:18px;
            border:none;
            height:30px;
            width:100px;
          }

